<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <style>
    .active {
      background-color: #dddddd;
      border: 1px solid #000000;
    }
    .message-box {
      padding: 10px 20px;
      background: #4fc08d;
      border: 5px solid #cccccc;
      border-radius: 6px;
      position: relative;
    }
    .message-box.success {
      background: #4fc08d;
    }
    .message-box.error {
      background: #ff0000;
    }
    .message-box-close {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    /* 动画相关 */
    /* to 为最后一帧, 不带为初始帧 */
    /* .fade-enter, .fade-leave-to {
      opacity: 0;
    } */
    /* 可省略 */
    /* .fade-enter-to, .fade-leave {
      opacity: 1;
    } */
    .fade-enter-active, .fade-leave-active {
      transition: all 1s;
    }

  </style>
</head>
<body>
  <!-- 宿主文件 -->
  <div id="app">
    <!-- 差值文本 -->
    <h2 v-bind:title="title">
      {{title}}
    </h2>

    <!-- toolbar -->
    <div class="toolbar">
      <button @click="$bus.$emit('message-close')">清空消息</button>
    </div>

    <!-- 添加课程 这里自定义事件调用的是主组件事件 -->
    <course-add v-model="course" @add-course="addCourse"></course-add>
    <!-- <course-add :value="course" @input="course=$event" @add-course="addCourse"></course-add> -->

    <!-- 批量更新价格 -->
    <p>
      <input type="text" v-model.number="price" />
      <button @click="batchUpdatePrice">更新价格</button>
    </p>
    
    <!-- 列表组件 -->
    <course-list :courses="courses"></course-list>

    <!-- 总数 -->
    <p>课程总数: {{total}}</p>

    <ul>
      <li
        v-for="n in 5"
        :key="n"
        :style="{backgroundColor: (selectedNum === n ? '#dddddd' : 'transparent')}"
        @click="selectedNum = n"
      >
        {{n}}
      </li>
    </ul>

    <!-- 条件渲染 v-if | v-else | v-else-if | v-show(通过display) -->
    <p v-if=""></p>

    <!-- 插槽实现内容分发 -->
    <!-- <message :show.sync="show">新增课程成功!</message> -->
    <!-- <message :show="show" @update:show="show=$event">新增课程成功!</message> -->
    <!-- 具名插槽 -->
    <message ref="success-message" :show.sync="showSuccess" class="success">
      <!-- 默认命名 v-slot:default -->
      <template>
        这里是默认插槽
      </template>

      <!-- 具名插槽 -->
      <template v-slot:title>
        <h2>恭喜 {{title}}</h2>
      </template>
      <template v-slot:description>
        新增课程成功!
      </template>

      <!-- 作用域插槽 -->
      <template v-slot:tttt="sl">
        {{sl.tttt}}
      </template>
    </message>

    <message  ref="error-message" :show.sync="showError" class="error">
      <!-- 具名插槽 -->
      <template v-slot:title>
        <h2>警告</h2>
      </template>
      <template v-slot:description>
        请输入课程名称!
      </template>
    </message>
  </div>

  <script>
    // 事件总线
    Vue.prototype.$bus = new Vue();

    // 课程列表组件
    Vue.component('course-list', {
      // 组件这里必须是函数 func, 因为组件里需要独立维护数据
      data() {
        return {
          selectedCourse: '',
        }
      },
      // props: ['courses'], // 这种方式不能限制类型
      props: {
        courses: {
          type: Array,
          default: [],
        }
      },
      template: `
        <ul>
          <li
            v-for="(item, index) in courses"
            :key="index"
            :class="{active: selectedCourse === item.id}"
            @click="selectedCourse = item.id"
          >
            {{item.name}} - $ {{item.price}}
          </li>
        </ul>
      `,
    });

    // 添加课程组件
    // 1.基础
    // Vue.component('course-add', {
    //   // 组件这里必须是函数 func, 因为组件里需要独立维护数据
    //   data() {
    //     return {
    //       course: '',
    //     }
    //   },
    //   template: `
    //     <p>
    //       <input type="text" v-model="course" v-on:keydown.enter="addCourse" />
    //       {{course}}
    //       <button v-on:click="addCourse" >增加</button>
    //     </p>
    //   `,
    //   methods: {
    //     addCourse() {
    //       // 派发事件通知父组件更新课程
    //       this.$emit('add-course', this.course);
    //       this.course = '';
    //     }
    //   }
    // });
    // 2.实现无状态，双向绑定
    Vue.component('course-add', {
      // 自定义绑定接受事件值
      // model: {
      //   value: 'value',
      //   event: 'change',
      // },
      props: ['value'],
      template: `
        <p>
          <input
            type="text"
            :value="value"
            @input="onInput"
            ref="addInput"
            v-on:keydown.enter="addCourse"
          />
          <button v-on:click="addCourse" >增加</button>
        </p>
      `,
      mounted() {
        this.$refs.addInput.focus();
      },
      methods: {
        addCourse() {
          // 派发事件, 这里不再传值
          this.$emit('add-course');
        },
        onInput(e) {
          this.$emit('input', e.target.value);
        }
      }
    });

    // 弹窗组件
    Vue.component('message', {
      props: ['show'],
      template: `
        <!-- 通过 slot 插槽获取传入的内容 -->
        <!-- 动画组件 transition 可自定义类名称 | 可完全由 js 钩子函数控制 | :css="false" 禁用css -->
        <transition
          name="fade"
          @before-enter="beforeEnter"
          @enter="enter"
          @before-leave="beforeLeave"
          @leave="leave"
        >
          <div class="message-box" v-if="show">
            <!-- 具名插槽 -->
            <slot name="title"></slot>
            <slot name="description"></slot>
            <!-- 默认插槽 -->
            <slot></slot>
            <!-- 作用域插槽 -->
            <slot name="tttt" tttt="来自作用域插槽"></slot>
            <span class="message-box-close" @click="$emit('update:show', false)">X</span>
          </div>
        </transition>
      `,
      mounted() {
        this.$bus.$on('message-close', () => {
          this.$emit('update:show', false);
        });
      },
      methods: {
        beforeEnter(el) {
          el.style.opacity = 0;
        },
        enter(el, done) {
          // 出发回流激活动画
          document.body.offsetHeight;

          el.style.opacity = 1;
          el.addEventListener('transitionend', done);
        },
        beforeLeve(el) {
          el.style.opacity = 1;
        },
        leave(el, done) {
          el.style.opacity = 0;
          el.addEventListener('transitionend', done);
        },
      },
    });

    function getCourses() {
      return new Promise(resolve => {
        setTimeout(() => {
          resolve([{ id: 0, name: 'web全栈' } , { id: 1, name: 'web高级' }]);
        }, 2000);
      });
    }

    const app = new Vue({
      el: '#app',
      // 这里可对象可函数 {} || func
      data() {
        return {
          title: 'hello, VUE!',
          course: '',
          courses: [],
          selectedNum: '',
          totalCourse: 0,
          showSuccess: false,
          showError: false,
          price: 0,
        };
      },
      methods: {
        // addCourse(course) {
        //   this.courses.push(course);
        // },
        addCourse() {
          if (!this.course) {
            // 显示错误信息
            this.course = '';
            this.showError = true;
            return;
          }

          const len = this.courses.length;
          this.courses.push({ id: len, name: this.course });
          // 显示正确信息
          this.course = '';
          this.showSuccess = true;
        },
        batchUpdatePrice() {
          this.courses.map(item => {
            // Vue.set(item, 'price', this.price);
            this.$set(item, 'price', this.price)
          });
        }
      },

      // 生命周期
      // 组件实例已创建
      async created() {
        const courses = await getCourses();
        this.courses = courses;
      },

      // 组件已挂载
      mounted() {
        console.log(this.$refs)
      },
      
      // 计算属性
      computed: {
        // 计算属性有缓存，值发生变化才重新渲染
        total() {
          return this.courses.length + ' ye';
        },

        // getter / setter
        // fullName: {
        //   // getter
        //   get: function () {
        //     return this.firstName + ' ' + this.lastName
        //   },
        //   // setter
        //   set: function (newValue) {
        //     var names = newValue.split(' ')
        //     this.firstName = names[0]
        //     this.lastName = names[names.length - 1]
        //   }
        // }
      },

      // 监听器
      watch: {
        // 初始化不执行
        // courses(newValue, oldValue) {
        //   totalCourse = newValue.length;
        // },
        
        courses: {
          immediate: true, // 初始化立即执行一次
          deep: true,
          handler(newValue, oldValue) {
            totalCourse = newValue.length;
          }
        },
      },
    });

    // 1. 动态设置值
    // let index = 0;
    // setInterval(() => {
    //   app.title = `mua~${index++}, VUE!`;
    // }, 1000);

    // 2. v-bind:title="title" | :title="title"

    console.log('主实例', app);
  </script>
  
</body>
</html>